PORT=3000
DATABASE_URL=postgresql://postgres:1945@localhost:5432/careerBytes
JWT_SECRET=8118e279950d06cab5a43a69812333621d586fe238e31a5799e511a4c8e13721c758641cae8ea8efb031ff0c49522b3080fe6c5a1ea732d7e495397743fe3e7f
GOOGLE_CLIENT_ID=655296604570-lrhbupi2hj17quch4rqv62q92gkfmpol.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=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
CLIENT_URL=http://localhost:5173

# Pecahan kredensial untuk backup sistem otomatis
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=1945
DB_NAME=careerBytes

GITHUB_CLIENT_ID=mock_github_client_id_12345
GITHUB_CLIENT_SECRET=mock_github_client_secret_67890